@page "/search/{keyword}"

<div class="container mt-5">

    <div class="box-content">

        <div class="heading__custom">
            <i class="heading__custom-icon fab fa-searchengin"></i> Kết quả tìm kiếm cho: @keyword
            <h3>@Products.Count sản phẩm</h3>
        </div>
        @if (Products == null)
        {
            <div>Loading...</div>
        }
        else
        {
    <ul class="listproduct">
        @foreach (var item in Products)
        {
            <li class="item">
                <a href="/" class="main-contain">
                    <div class="item-label">
                        <span class="lb-tragop">Trả góp 0%</span>
                    </div>
                    <div class="item-img item-img_42">
                        <img class="thumb ls-is-cached lazyloaded"
                             alt="@item.Name"
                             src="@item.ThumbnailImage" />
                        <img src="https://cdn.tgdd.vn/ValueIcons/label-moi-ra-mat-fnal.png"
                             width="40"
                             height="40"
                             loading="lazy"
                             class="lbliconimg lbliconimg_42 tgdd" />
                    </div>

                    <h3>@item.Name</h3>
                    <strong class="price">@item.Price₫</strong>
                </a>
                <div class="item-bottom">
                    <a href="#" class="shiping"></a>
                </div>
            </li>
        }


    </ul>
        }
    </div>
</div>

